language = "nodejs"
run = "npm run dev"
onBoot = "npm install"
modules = ["nodejs-20"]

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 5001
externalPort = 80

[[ports]]
localPort = 5173
externalPort = 5173

[nix]
channel = "stable-25_05"
packages = ["unzip", "zip", "try"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 41942539
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
