.table-container {
  background-color: var(--altus-panel-grey);
  border-radius: 6px;
  padding: 1rem;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  color: white;
}

.custom-table thead {
  background-color: var(--altus-header-grey);
  font-weight: bold;
  border-bottom: 2px solid var(--altus-hover);
}

.custom-table th, .custom-table td {
  padding: 0.75rem;
  border-bottom: 1px solid var(--altus-border);
}

.custom-table tr:nth-child(even) {
  background-color: var(--altus-hover);
}

.custom-table tr:hover {
  background-color: var(--altus-header-grey);
}